header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0.8em;
  border-bottom: 0.1em solid black;
}

h4 {
  color: MediumAquamarine;
  padding-left: 0.7em;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  padding: 1em;
}

nav a {
  color: black;
}

div {
  border: 0.05em solid black;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 70px;
}

.sidebyside {
  display: inline-flex;
}

.columncontain {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.column-large {
  width: 630px;
}

.column-medium {
  width: 300px;
}

.column-small {
   width: 240px;
}

.background-image1 {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 100%;
  height: 300px;
}

.background-image2 {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  width: 100%;
  height: 300px;
}

.background-image3 {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  width: 100%;
  height: 300px;
}

.background-image4 {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  width: 100%;
  height: 300px;
}

.image-header-main {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 0;
  /*justify-content: flex-start;
  align-items: flex-start;*/
}

.image-header-body {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-align: center;

